.recipe_main {
  display: flex;
  flex-direction: row;
  margin: 16px 160px;
  border: 2px solid black;
}

.recipe {
  margin: 8px 32px;
  min-width: 160px;
}

.recipe_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 16px;
}

.recipe_name {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
}
